@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oxanium:wght@200..800&family=Oxygen:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.header_bg{
    background-image: url('../images/webp/header-bg.webp');
}
.blue_textshadow {
    text-shadow: 0px 4px 4px #00000040, 0px 0px 20px #00bfff, 0px 0px 20px #00bfff,
      0px 0px 0px #00bfff, 0px 0px 0px #00bfff, 0px 1px 0px #00bfff,
      0px 1px 0px #00bfff;
  }
.white_textshadow {
    text-shadow: 0px 4px 4px #00000040, 0px 0px 20px #fff, 0px 0px 20px #fff,
      0px 0px 0px #fff, 0px 0px 0px #fff, 0px 1px 0px #fff,
      0px 1px 0px #fff;
  }
  
#caart-tabs::-webkit-scrollbar {
  display: none !important;
}

::-webkit-scrollbar-track {
  background-color: #000;

  border-radius: 21px;
}

#cart-tabs::-webkit-scrollbar {
  width: 6px !important;
}


/* Track */

::-webkit-scrollbar-track {
  background-color: #000;
  border-radius: 21px;
}
